<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <!-- Sidebar Admin -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" >
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a  href><i class="fa fa-fw fa-sign-in"></i> Log-in</a>
                    </li>
                    <li>
                        <a  href><i class="fa fa-fw fa-dashboard"></i> Estado de tasec</a>                        
                    </li>
                    <li>
                        <a   href ><i class="fa fa-fw fa-file"></i> Mensajes</a>
                    </li>
                    <li>
                        <a   href><i class="fa fa-fw fa-check-circle-o"></i> Validar Proveedores</a>
                    </li>
                    <li>
                        <a   href><i class="fa fa-fw fa-check-circle-o"></i> Monitoreo de rendimiento</a>
                    </li>
                    <li>
                        <a   href><i class="fa fa-fw fa-check-circle-o"></i> Administrar Catalogo de Servicios</a>
                    </li>
                    <li>
                        <a   href="#/noticias"><i class="fa fa-fw fa-check-circle-o"></i> Sistema de noticias </a>
                    </li>
                    <li>
                    </li>
                </ul>
        </div>
</html>
