<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    
    
    <title>Registrarse en Ambientour</title>

    <!-- Custom CSS -->
    <link href="src/assets/css/sb-admin.css" rel="stylesheet">


</head>

<body>

    <div id="wrapper">
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Registrese o entre con su usuario
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="#registrarse">Registrar</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Registro
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row" ng-hide='mostrarClientes || mostrarProveedores'>
                    <div class="col-lg-2">
                        <p><a class="btn btn-success btn-large" ng-click='mostrarClientes=true;' class="alert-link">Soy Cliente</a></p>
                    </div>
                    <div class="col-lg-2">
                        <p><a class="btn btn-warning btn-large" ng-click='mostrarProveedores=true;' class="alert-link">Soy un Proveedor de Servicios</a></p>                        
                    </div>
                </div>
                <div ng-show='mostrarClientes' ng-include="'src/modules/registrar/forms/clienteRegistro.html'"></div>
                <div ng-show='mostrarProveedores' ng-include="'src/modules/registrar/forms/proveedorRegistro.html'"></div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


</body>

</html>
