<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html lang="en">

<head>



    <title>Tasec</title>
</head>

<body>

    

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contactar al Administrador
                    <small>¿Alguna inquietud?</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">contactanos</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-8">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=4.6027853,-74.0651962&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-4">
                <h3>Detalles del Administrador</h3>
                <p>
                    Calle 19 con carrera 6ta<br> Universidad de los Andes<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>: (123) 456-7890</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">fa.espinosa10@uniandes.edu.co</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Lunes - Viernes 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <!-- Contact Form -->
        <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <div class="row">
            <div class="col-md-8">
                <h3>Mandanos un Mensaje</h3>
                <form name="sentMessage" id="contactForm" novalidate >
                    <div class="form-group has-success">
                        <div class="control-label">
                            <label>Nombre completo</label>
                            <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" required
                                   ng-model="mensaje.nombre">
                        </div>
                    </div>
                    <div class="form-group has-success">
                                <label class="control-label" for="inputSuccess">Ingrese un correo valido</label>
                                <input type="email" class="form-control" id="mail" placeholder="ejemplo@tasec.com" required 
                                       ng-model="mensaje.correo" >
                    </div>
                    <div class="form-group has-success">
                        <div class="control-label">
                            <label>Celular</label>
                            <input type="number" class="form-control" id="phone" placeholder="i.e. 3163008983" required
                                   ng-model="mensaje.celular">
                        </div>
                    </div>
                    <div class="form-group has-success">
                        <div class="control-label">
                            <label>Mensaje:</label>
                            <textarea rows="10" cols="100" class="form-control" id="message" maxlength="999" style="resize:none" placeholder="Ingrese su inquietud"
                                      ng-model="mensaje.mensaje"></textarea>
                        </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary" 
                            ng-disabled="sentMessage.$invalid">Enviar mensaje</button>
                </form>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Tasec 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
