<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<!-- Navigation -->
    <!--Navegacion normal -->
        <div ng-include="'views/nav/navNormal.html'"></div>
        
        <!--
        <div ng-show="usuarioActual('registro')" ng-include="'views/nav/navNormal.html'"></div>
        <div ng-show="usuarioActual('usuarioProveedor')" ng-include="'views/nav/navNormal.html'"></div>
        <div ng-show="usuarioActual('usuarioCliente')" ng-include="'views/nav/navNormal.html'"></div>
        -->
    <!-- Navegación loggeado -->
    
    
    <!-- Navegación de registro -->
    
    
    
   
    

</html>
