<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li ng-class="active">
            <a  ng-click="proveedoresCtrl.setTab('1')" ng-hide='proveedoresCtrl.login' href><i class="fa fa-fw fa-edit"></i> Registrar</a>
        </li>
        <li >
            <a  ng-click="proveedoresCtrl.setTab('2')" ng-show="proveedoresCtrl.login" href><i class="fa fa-fw fa-database"></i> Registrar Servicio</a>
        </li>
        <li>
            <a  ng-click="proveedoresCtrl.setTab('3')" ng-show="proveedoresCtrl.login" href><i class="fa fa-fw fa-server"></i> Ver Servicios</a>
        </li>
        <li >
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Ayuda <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
            <!-- /.navbar-collapse -->
</html>
