<div ng-controller="memberCtrl as memberCtrl">
	<div id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#country-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Member</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="country-navbar">
					<button class="btn btn-default navbar-btn" ng-hide="memberCtrl.editMode" ng-click="memberCtrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Create</button>
					<button class="btn btn-default navbar-btn" ng-hide="memberCtrl.editMode" ng-click="memberCtrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
					<button class="btn btn-default navbar-btn" ng-show="memberCtrl.editMode" ng-click="memberCtrl.saveRecord()"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
					<button class="btn btn-default navbar-btn" ng-show="memberCtrl.editMode" ng-click="memberCtrl.fetchRecords()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</nav>
	</div>
	<div ng-hide="memberCtrl.editMode">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>FirstName</th>
					<th>LastName</th>
					<th>BirthDate</th>
					<th>Enabled</th>
					<th>DocNumber</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="record in records">
					<td>{{record.name}}</td>
					<td>{{record.firstName}}</td>
					<td>{{record.lastName}}</td>
                    <td>{{record.birthDate | date}}</td>
					<td>{{record.enabled}}</td>
					<td>{{record.docNumber}}</td>
					<td>
						<button class="btn btn-default btn-sm" ng-click="memberCtrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
						<button class="btn btn-default btn-sm" ng-click="memberCtrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
        <pagination total-items="totalItems" ng-model="currentPage" ng-change="memberCtrl.pageChanged()" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" items-per-page="itemsPerPage"></pagination>
	</div>
	<div ng-show="memberCtrl.editMode">
		<form name="memberForm" role="form">
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>			
			<div class="form-group">
				<label for="name">Name</label>
				<input id="name" class="form-control" type="text" ng-model="currentRecord.name"/>
			</div>
			<div class="form-group">
				<label for="firstName">FirstName</label>
				<input id="firstName" class="form-control" type="text" ng-model="currentRecord.firstName"/>
			</div>
			<div class="form-group">
				<label for="lastName">LastName</label>
				<input id="lastName" class="form-control" type="text" ng-model="currentRecord.lastName"/>
			</div>
			<div class="form-group">
				<label for="birthDate">BirthDate</label>
				<input id="birthDate" class="form-control" type="date" ng-model="currentRecord.birthDate"/>
			</div>
			<div class="form-group" >
			    <label>
		    	  <input id="enabled" name="enabled" ng-value="false" type="checkbox" ng-model="currentRecord.enabled"> Enabled
		    	</label>
			</div>
			<div class="form-group">
				<label for="docNumber">DocNumber</label>
				<input id="docNumber" class="form-control" type="text" ng-model="currentRecord.docNumber"/>
			</div>
		</form>
	</div>
</div>
